body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #98AFC7; /* Background color */
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white; /* Background color for content */
}

header {
  text-align: left;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px; /* Add margin at the top of headings */
}

main {
  text-align: left;
  margin-top: 20px; /* Add margin at the top of main content */
}

.internal-link, .bolide-link, .twitter-link, .linkedin-link {
  text-decoration: none;
  color: #333; /* Default link color */
  transition: 0.3s;
}

.internal-link:hover, .bolide-link:hover, .twitter-link:hover, .linkedin-link:hover {
  text-decoration: underline;
}

.bolide-link {
  color: green;
}

.twitter-link, .twitter-link:hover {
  color: blue;
}

.linkedin-link, .linkedin-link:hover {
  color: #0077B5; /* LinkedIn's blue color */
}
