body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: black;
  background-color: #98AFC7;
}

header {
  background-color: #98AFC7;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

main {
  padding: 20px;
  font-size: 1.2em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.social-links ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links li::before {
  content: "• ";
}

.social-links a,
a[href="about.html"] {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.social-links a:hover,
a[href="about.html"]:hover {
  color: #ff4500;
  text-decoration: underline;
}
