body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.social-links ul li {
  margin-bottom: 15px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.bolide-link {
  text-decoration: underline;
  color: green;
}

.internal-link {
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.internal-link:hover {
  transform: scale(1.1);
}

.internal-link:visited {
  color: inherit;
}
